* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}
.fancy {
    line-height: 100vh;
    font-size: 4rem;
    font-family: Arial;
    text-align: center;
}

span {
    opacity: 0;
    transition: all 0.9s ease;
    transform: translateY(250px);
    /* cuz span element in by default is inline element - so you cant transform it  */
    display: inline-block;
}

span.fade {
    opacity: 1;
    transform: translateY(0px);
    color: #ffff22;
}